<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block js %}
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '<site key>'
        });
      };
    </script>
    <script>

        if ('{{ message }}' === "Thanks for filling out the form!") {
            window.location.pathname= "{{ nxt }}"
        }
    </script>

{% endblock %}

{% block stage %}
    <div class="row justify-content-center align-self-center">
        <div class="col">
            <p class="text-center" style="font-size: xxx-large;">{{ msg1 }}</p>
        </div>
    </div>
    <div class="row justify-content-center" id="realness">
        <div class="col justify-content-center">
            <form action="?" method="POST">
                <div id="html_element"></div>
                <br>
                <input type="submit" value="Submit">
            </form>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
        </div>
        <p>{{ message }}</p> <!-- Message to tell user whether or not they have filled out ReCaptcha -->
    </div>




{% endblock %}
</html>