<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}


{% block stage %}
    <div class="row text-center" >
        <h1 class="animated bounceInUp" style="font-size: xxx-large; align-self:center;">Well Done! - Task Instructions</h1>
    </div>
    <div class="row" style="height: 70vh;">

        <div id="carouselExampleIndicators" class="carousel carousel-dark slide align-self-center" data-bs-ride="false" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>


        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9 text-center" style="align-self: center;">
                        <p style="font-size: xxx-large;">In this part of the study, you will be shown 24 short stories about different people and then you will have to answer a question about the story you read.</p>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9 text-center" style="align-self: center;">
                        <p style="font-size: xxx-large;">***Please pay very close attention and answer as quickly and accurately as you possibly can. If you don't respond within 5 seconds, we will go to the next question.***.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9 text-center" style="align-self: center;">
                        <p style="font-size: xxx-large;">Before starting there will be two practice examples of the sort of task you'll be doing. Remember, you'll have to read and respond quickly...</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="font-family: monospace;">
                <div class="row justify-content-center" style="height: 75vh;">
                    <div class="col-sm-9 text-center" style="align-self: center;">
                        <p style="font-size: xxx-large;">Click Next to begin and then place your fingers on the [f] and [j] keys.</p>
                        <div class="row">
                            <div class="col" id="begin">
                                <a href="#" type="button" id="start_bttn" class="btn btn-primary btn-lg" style="font-size: xx-large;" onclick="window.location.pathname='/story'">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" onclick="endInstr()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    </div>

{% endblock %}
</html>