<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hello</h3>

<p> Thanks so much for reaching out about the online research study for adults with Autism. We really appreciate you
    taking the time to inquire about participating in such important work.</p>

<p>This online experiment will take less than 1 hour to complete. and entails reading short (4-sentence) stories and
    quickly making True/False responses about the people in them. <b> Only participants who provide valid, useable data
        will be compensated </b>with an Amazon gift card ($10) for their time and effort (based on performance accuracy).</p>

<b>In order to participate, you must meet the following eligibility criteria:</b>
<ul>
  <li>MUST be at least 18 years old</li>
  <li>MUST be a native English speaker / reside in an English-speaking country</li>
  <li>MUST have been diagnosed with Autism/Asperger\'s by clinical assessment</li>
  <li>MUST complete study on personal computer (no phones or tablets)</li>
</ul>

<p>If you meet the above criteria, you may access the study at the individualized link below. Note that this link is
    specific to you and <i>should not be shared with others</i>.

<p> Your secure individual study access URL: <a href="https://cogsexperiment.live/user/{{ access_code }}">ACCESS LINK</a></p>
<p>DO NOT ATTEMPT TO ACCESS THE STUDY THROUGH A VIRTUAL PRIVATE NETWORK, PROXY, TOR NODE, or RELAY NETWORK.</p>

<p>Please let me know if you have any questions or concerns.</p>

<p>Best,</p>


<p>Bryan Gonzalez
<br>Graduate Researcher, PhD Candidate
<br><a href="https://phillab.host.dartmouth.edu">Phillab</a>
<br>Dartmouth College
<br>he/his </p>
</body>
</html>